#Core UI & Data
streamlit 
pydantic

#AI & Search Models
google-genai
exa_py

#Vector Database
chromadb

#Visualization
plotly
streamlit-mermaid

#Environment Management
python-dotenv

#Document, Image & Audio Utilities
pymupdf
pillow
gTTS
markitdown